<!--  -->

<div class="container">
  <div class="header">
    <div class="app-name">Vid Connect</div>
    <div class="date-time">
      {{ currentDate | date : "EEEE, MMMM d y" }},
      {{ currentDate | date : "shortTime" }}
    </div>
    <div class="profile-container">
      <img
        [src]="profilePicture"
        alt="Profile Picture"
        class="profile-picture"
        (click)="toggleLogout()"
        referrerpolicy="no-referrer"
      />
      <div *ngIf="showLogout" class="logout-button">
        <button (click)="logout()">
          <mat-icon>power_settings_new</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="animated-text">Say goodbye to awkward silences.</div>
    <div class="card-container">
      <mat-card class="meeting-card new-meeting" (click)="createRoom()">
        <div class="card-content">
          <mat-icon>videocam</mat-icon>
          <div class="card-text">
            <h2>New Meeting</h2>
            <p>Create a new meeting</p>
          </div>
        </div>
      </mat-card>
      <mat-card class="meeting-card join-meeting" (click)="joinRoom()">
        <div class="card-content">
          <mat-icon>add</mat-icon>
          <div class="card-text">
            <h2>Join Meeting</h2>
            <p>via room code</p>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>
