<!-- @format -->

<div class="room-container">
  <div class="header">
    <div class="title">
      <mat-icon class="icon">videocam</mat-icon>
      <h1>Vid Connect</h1>
    </div>
    <button aria-label="Copy to clipboard" (click)="copyRoomId()">
      <mat-icon color="white" class="icon">content_copy</mat-icon>
    </button>
  </div>
  <div class="video-section">
    <ng-container *ngIf="remoteStreams$ | async as remoteStreams">
      <div
        [ngClass]="{
          'video-wrapper': true,
          'center': remoteStreams.length === 0,
          'side-by-side': remoteStreams.length > 0
        }"
      >
        <div class="local-wrapper">
          <video #localVideo autoplay [srcObject]="myVideoStream"></video>
          <div class="label">{{ localName }}</div>
        </div>
        <div class="remote-videos">
          <div
            *ngFor="let remoteStream of remoteStreams$ | async"
            class="remote-wrapper"
          >
            <video #remoteVideo autoplay [srcObject]="remoteStream"></video>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="controls">
    <button (click)="toggleAudio()">
      <mat-icon [style.color]="!audioEnabled ? 'red' : 'white'">{{
        audioEnabled ? "mic" : "mic_off"
      }}</mat-icon>
    </button>
    <button (click)="toggleVideo()">
      <mat-icon [style.color]="!videoEnabled ? 'red' : 'white'">{{
        videoEnabled ? "videocam" : "videocam_off"
      }}</mat-icon>
    </button>
    <button (click)="endCall()" class="end-call">
      <mat-icon>call_end</mat-icon>
    </button>
  </div>
</div>
